In [ ]:
from google.colab import drive
drive.mount('/content/drive/',force_remount=False)
import os
os.chdir("/content/drive/MyDrive/Teaching/2022-2023/Python/shared")

In [4]:
import pandas
import mba263
import os

Regularization produces a lot of annoying warnings. First, we will clean our output by supressing warnings. With the following command.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [14]:
data=pandas.read_csv(os.path.dirname(os.getcwd()) + "/data/intuit.csv")

In [15]:
data.head(10)

,id,sex,bizflag,zip,zip_bins,numords,dollars,last,sincepurch,version1,owntaxprod,upgraded,res1
0,1,U,1,99999,20,1,129.5,11,1,0,0,0,0
1,2,U,1,99999,20,2,65.0,4,14,0,0,0,0
2,3,U,1,99999,20,1,24.5,13,36,1,0,0,0
3,4,U,1,99999,20,1,80.5,5,19,1,0,0,0
4,5,U,1,99999,20,1,111.0,14,7,0,0,0,0
5,6,U,1,99999,20,1,61.5,14,20,0,0,1,0
6,7,U,1,99999,20,1,56.0,5,27,0,0,1,0
7,8,U,1,99999,20,1,39.5,4,2,0,0,0,0
8,9,U,1,99999,20,1,22.0,17,1,0,0,0,1
9,10,U,1,99999,20,2,113.0,7,15,0,0,0,0

In [16]:
zip_bins=pandas.get_dummies(data['zip_bins'],drop_first=True,prefix="zip_bins")

In [17]:
data_with_dummies=pandas.concat([data,zip_bins],axis=1)

In [18]:
data_with_dummies.columns

Index(['id', 'sex', 'bizflag', 'zip', 'zip_bins', 'numords', 'dollars', 'last',
       'sincepurch', 'version1', 'owntaxprod', 'upgraded', 'res1',
       'zip_bins_2', 'zip_bins_3', 'zip_bins_4', 'zip_bins_5', 'zip_bins_6',
       'zip_bins_7', 'zip_bins_8', 'zip_bins_9', 'zip_bins_10', 'zip_bins_11',
       'zip_bins_12', 'zip_bins_13', 'zip_bins_14', 'zip_bins_15',
       'zip_bins_16', 'zip_bins_17', 'zip_bins_18', 'zip_bins_19',
       'zip_bins_20'],
      dtype='object')

We don't want to type the long list of variables over and over again, so I will define this handy list.

In [19]:
varlist=['dollars','zip_bins_2','zip_bins_3','zip_bins_4','zip_bins_5','zip_bins_6',
         'zip_bins_7','zip_bins_8','zip_bins_9','zip_bins_10','zip_bins_11',
       'zip_bins_12', 'zip_bins_13', 'zip_bins_14', 'zip_bins_15',
       'zip_bins_16', 'zip_bins_17', 'zip_bins_18', 'zip_bins_19',
       'zip_bins_20']

In [20]:
varlist2=['dollars','zip_bins_2','zip_bins_3','zip_bins_4','zip_bins_5','zip_bins_6',
         'zip_bins_7','zip_bins_8','zip_bins_9','zip_bins_10','zip_bins_11',
        'zip_bins_13', 'zip_bins_14', 'zip_bins_15',
       'zip_bins_16', 'zip_bins_17', 'zip_bins_18', 'zip_bins_19',
       'zip_bins_20']

In [21]:
from sklearn.metrics import log_loss

In [22]:
log_loss(data_with_dummies['res1'],res.predict())

NameError: name 'res' is not defined

In [ ]:
mba263.logit(data_with_dummies['res1'],data_with_dummies[varlist2]).summary()

Regularized version of the logistic regression takes another parameter, <code>alpha</code>.
This parameter dictacts how strict the model when throwing out variables. High <code>alpha</code> means throwing out
variables more.

In [ ]:
res=mba263.logit_reg(data_with_dummies['res1'],data_with_dummies[varlist],alpha=9)

In [ ]:
res.summary2()

The model threw out <code>zip_bins_12</code> variable. Let's see what happens when we are less strict and set a lower <code>alpha</code>.

In [ ]:
res=mba263.logit_reg(data_with_dummies['res1'],data_with_dummies[varlist],alpha=5)
res.summary2()

In [ ]:
data['p1']=res.predict(data_with_dummies[varlist])

In this case the algorithms kept <code>zip_bins_12</code>. Note: <code>alpha=0</code> is a regular logit (no throwing away variables).

In [ ]:
res=mba263.logit_reg(data_with_dummies['res1'],data_with_dummies[varlist],alpha=15)
res.summary2()

In [ ]:
data['p2']=res.predict(data_with_dummies[varlist])

In [ ]:
data[['p1','p2']].head(10)